@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/*  Spacing System for font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

:root {
  --color-grey-0: #18212f;
  --color-grey-50: #111827;
  --color-grey-100: #1f2937;
  --color-grey-200: #374151;
  --color-grey-300: #4b5563;
  --color-grey-400: #6b7280;
  --color-grey-500: #9ca3af;
  --color-grey-600: #d1d5db;
  --color-grey-700: #e5e7eb;
  --color-grey-800: #f3f4f6;
  --color-grey-900: #f9fafb;

  --color-lightblue-100: #075985;
  --color-lightblue-500: #155dfc;
  --color-lightblue-700: #0f41b0;
  --color-blue-700: #e0f2fe;
  --color-green-100: #166534;
  --color-green-700: #dcfce7;
  --color-yellow-100: #854d0e;
  --color-yellow-700: #fef9c3;
  --color-silver-100: #292e36;
  --color-silver-700: #f3f4f6;
  --color-indigo-100: #3730a3;
  --color-indigo-700: #e0e7ff;
  --color-blue-0: #48467e;
  --color-blue-100: #1a185e;
  --color-blue-200: #171655;
  --color-blue-300: #121142;
  --color-blue-400: #0d0c2f;
  --color-blue-500: #08071c;
  --color-blue-600: rgba(36, 35, 63, 0.5);

  --color-red-100: #fee2e2;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;
  --color-red-400: #c78282;

  --error-opaque-red: rgba(215, 0, 0, 0.403);

  --input-bg-color: rgba(35, 35, 116, 0.269);
}
